
<div id="post-index-wrapper">
<% @posts.each do |post| %>
<div class="post-wrapper">
    <div class="post-title"><%= link_to post.title, post %></div>
	<div class="post-date"><%= post.created_at.strftime("%m/%d/%Y") %></div>
    <div class="post-body"><%= post.body %></div>
    <div class="post-edit"><%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>

    
</div>
<% end %>


<br />


<%= paginate @posts %>
</div>