<div class="post-wrapper">
	<div class="post-title">
	  <%= @post.title %>
	</div>
	 
	<div class="post-body">
	  <%= @post.body %>
	</div>
	<div class="post-edit"><%= link_to 'Edit Post', edit_post_path(@post) %> | <%= link_to 'Back to Posts', posts_path %> </div>

</div> 
<!-- AddThis Button BEGIN -->
<div class="share-buttons-wrapper">
<div class="addthis_toolbox addthis_default_style">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_pinterest_pinit"></a>
<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=undefined"></script>
<!-- AddThis Button END -->

<div id="comments-wrapper"> 
<div class="comments-title">Comments Section</div>
<%= render @post.comments %>
 
<div class="add-comment-button"><input type="button" value="Add a Comment" title="Add a Comment" onclick="leftHeight();"></div>

<div class="comment-form">
<%= render "comments/form" %>
</div>
 
</div>
 



